In [2]:
import pandas 
import sqlite3

In [3]:
db = sqlite3.connect('IMDB.sqlite')

In [4]:
cur = db.cursor()

In [7]:
import sqlite3

conn = sqlite3.connect('IMDB.sqlite')
cursor = conn.cursor()

# Show table schema
cursor.execute("PRAGMA table_info(IMDB);")
for row in cursor.fetchall():
    print(row)

conn.close()

(0, 'Movie_id', 'TEXT', 0, None, 0)
(1, 'Title', 'TEXT', 0, None, 0)
(2, 'Rating', 'DECIMAL', 0, None, 0)
(3, 'TotalVotes', 'INTEGER', 0, None, 0)
(4, 'MetaCritic', 'DECIMAL', 0, None, 0)
(5, 'Budget', 'DOUBLE', 0, None, 0)
(6, 'Runtime', 'TEXT', 0, None, 0)
(7, 'CVotes10', 'TEXT', 0, None, 0)
(8, 'CVotes09', 'TEXT', 0, None, 0)
(9, 'CVotes08', 'TEXT', 0, None, 0)
(10, 'CVotes07', 'TEXT', 0, None, 0)
(11, 'CVotes06', 'TEXT', 0, None, 0)
(12, 'CVotes05', 'TEXT', 0, None, 0)
(13, 'CVotes04', 'TEXT', 0, None, 0)
(14, 'CVotes03', 'TEXT', 0, None, 0)
(15, 'CVotes02', 'TEXT', 0, None, 0)
(16, 'CVotes01', 'TEXT', 0, None, 0)
(17, 'CVotesMale', 'TEXT', 0, None, 0)
(18, 'CVotesFemale', 'TEXT', 0, None, 0)
(19, 'CVotesU18', 'TEXT', 0, None, 0)
(20, 'CVotesU18M', 'TEXT', 0, None, 0)
(21, 'CVotesU18F', 'TEXT', 0, None, 0)
(22, 'CVotes1829', 'TEXT', 0, None, 0)
(23, 'CVotes1829M', 'TEXT', 0, None, 0)
(24, 'CVotes1829F', 'TEXT', 0, None, 0)
(25, 'CVotes3044', 'TEXT', 0, None, 0)
(26, 'CVotes3044M', 'TEXT', 0, None, 0)
(27, 'CVotes3044F', 'TEXT', 0, None, 0)
(28, 'CVotes45A', 'TEXT', 0, None, 0)
(29, 'CVotes45AM', 'TEXT', 0, None, 0)
(30, 'CVotes45AF', 'TEXT', 0, None, 0)
(31, 'CVotes1000', 'TEXT', 0, None, 0)
(32, 'CVotesUS', 'TEXT', 0, None, 0)
(33, 'CVotesnUS', 'TEXT', 0, None, 0)
(34, 'VotesM', 'TEXT', 0, None, 0)
(35, 'VotesF', 'TEXT', 0, None, 0)
(36, 'VotesU18', 'TEXT', 0, None, 0)
(37, 'VotesU18M', 'TEXT', 0, None, 0)
(38, 'VotesU18F', 'TEXT', 0, None, 0)
(39, 'Votes1829', 'TEXT', 0, None, 0)
(40, 'Votes1829M', 'TEXT', 0, None, 0)
(41, 'Votes1829F', 'TEXT', 0, None, 0)
(42, 'Votes3044', 'TEXT', 0, None, 0)
(43, 'Votes3044M', 'TEXT', 0, None, 0)
(44, 'Votes3044F', 'TEXT', 0, None, 0)
(45, 'Votes45A', 'TEXT', 0, None, 0)
(46, 'Votes45AM', 'TEXT', 0, None, 0)
(47, 'Votes45AF', 'TEXT', 0, None, 0)
(48, 'VotesIMDB', 'TEXT', 0, None, 0)
(49, 'Votes1000', 'TEXT', 0, None, 0)
(50, 'VotesUS', 'TEXT', 0, None, 0)
(51, 'VotesnUS', 'TEXT', 0, None, 0)

In [9]:
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect('IMDB.sqlite')

# Query to get the most voted movie
query = """
SELECT Title, Rating
FROM IMDB
ORDER BY TotalVotes DESC
LIMIT 1;
"""

# Execute and load into DataFrame
df = pd.read_sql_query(query, conn)

# Display result
if not df.empty:
    print(f"{df.loc[0, 'Title']} {df.loc[0, 'Rating']}")
else:
    print("No data found.")

# Close the connection
conn.close()

Inception (2010) 8.8

In [10]:
import sqlite3
import pandas as pd

# 📝 Problem Statement:
# Find the movie with the longest running time from the IMDB table.
# Print its name and runtime (as an integer), without the word "min".

# Connect to the database
conn = sqlite3.connect('IMDB.sqlite')

# Query to extract runtime as integer and get the longest one
query = """
SELECT Title, 
       CAST(REPLACE(Runtime, ' min', '') AS INTEGER) AS RunTimeInt
FROM IMDB
ORDER BY RunTimeInt DESC
LIMIT 1;
"""

# Execute and load into DataFrame
df = pd.read_sql_query(query, conn)

# Print result in required format
if not df.empty:
    print(f"{df.loc[0, 'Title']} {df.loc[0, 'RunTimeInt']}")
else:
    print("No data found.")

# Close the connection
conn.close()

The Wolf of Wall Street (2013) 180

In [12]:
import sqlite3
import pandas as pd

# 📝 Problem Statement:
# Find the movie with the maximum net profit.
# Net Profit = (Domestic + Worldwide earning) - Budget
# Print only the movie name.

# Connect to the database
conn = sqlite3.connect('IMDB.sqlite')

# SQL query to calculate net profit and get the top movie
query = """
SELECT IMDB.Title,
       (CAST(earning.Domestic AS REAL) + CAST(earning.Worldwide AS REAL) - IMDB.Budget) AS NetProfit
FROM IMDB
JOIN earning ON IMDB.Movie_id = earning.Movie_id
ORDER BY NetProfit DESC
LIMIT 1;
"""

# Run the query and load result into a DataFrame
df = pd.read_sql_query(query, conn)

# Print the movie name with highest net profit
if not df.empty:
    print(df.loc[0, 'Title'])
else:
    print("No data found.")

# Close the connection
conn.close()

Star Wars: The Force Awakens (2015)

In [16]:
cursor = conn.cursor()
cursor.execute("PRAGMA table_info(earning);")
for row in cursor.fetchall():
    print(row)

(0, 'Movie_id', 'TEXT', 0, None, 0)
(1, 'Domestic', 'INTEGER', 0, None, 0)
(2, 'Worldwide', 'DOUBLE', 0, None, 0)

In [21]:
import sqlite3
import pandas as pd

# 📝 Problem Statement:
# Find the movie with the highest gross earnings.
# Gross earnings = Domestic + Worldwide
# Print only the movie name.

# Connect to the database
conn = sqlite3.connect('IMDB.sqlite')

# SQL query to calculate gross earnings and get top movie
query = """
SELECT i.Title
FROM IMDB i
JOIN earning e ON i.Movie_id = e.Movie_id
ORDER BY (e.Domestic + e.Worldwide) DESC
LIMIT 2;
"""

# Execute and load into DataFrame
df = pd.read_sql_query(query, conn)

# Print the movie name with highest gross earnings
if not df.empty:
    print(df.loc[0, 'Title'])
else:
    print("No data found.")

# Close the connection
conn.close()

Star Wars: The Force Awakens (2015)

In [26]:
import sqlite3
import pandas as pd

# 📝 Problem Statement:
# Find the movie which has both 'Sci-Fi' and 'Mystery' genres
# and has a rating greater than or equal to 8.
# Print only the movie name.

# Connect to the database
conn = sqlite3.connect('IMDB.sqlite')

# SQL query to find movies with both genres and rating >= 8
query = """
SELECT i.Title
FROM IMDB i
JOIN genre g1 ON i.Movie_id = g1.Movie_id
JOIN genre g2 ON i.Movie_id = g2.Movie_id
WHERE g1.Genre = 'Sci-Fi' AND g2.Genre = 'Mystery'
AND i.Rating >= 8;
"""

# Execute and load into DataFrame
df = pd.read_sql_query(query, conn)

# Print movie name(s)
for title in df['Title']:
    print(title)

conn.close()

Arrival (2016)