In [44]:
import csv
import pandas as pd
with open("amazon_jobs_dataset.csv", 'r', encoding='utf-8') as file_obj:
    file_dict = csv.DictReader(file_obj, skipinitialspace = True)
    file_list = list(file_dict)

count_bangalore=0
count_seatle = 0
# print(file_list[1])

for row in file_list:
    if row['location']=='IN, KA, Bangalore ':
        count_bangalore +=1
    elif  row['location']=='US, WA, Seattle ':
        count_seatle +=1
        
print("The Total Jobs Opening in Bangalore are: ", count_bangalore)
print("The Total Jobs Opening in Seatle are: ", count_seatle)

The Total Jobs Opening in Bangalore are:  66
The Total Jobs Opening in Seatle are:  1856

In [45]:
import csv
import pandas as pd

count_bangalore=0
count_seatle = 0

with open("amazon_jobs_dataset.csv", 'r', encoding='utf-8') as file_obj:
    file_dict = csv.DictReader(file_obj, skipinitialspace = True)

    for row in file_dict:
        if row['location']=='IN, KA, Bangalore ':
            count_bangalore +=1
        elif  row['location']=='US, WA, Seattle ':
            count_seatle +=1
        
print("The Total Jobs Opening in Bangalore are: ", count_bangalore)
print("The Total Jobs Opening in Seatle are: ", count_seatle)

The Total Jobs Opening in Bangalore are:  66
The Total Jobs Opening in Seatle are:  1856

In [64]:
# no of Software Development Managers

import csv
software_count =0
with open("amazon_jobs_dataset.csv", 'r', encoding='utf-8') as file_obj:
    file_dict = csv.DictReader(file_obj, skipinitialspace = True)
    file_list = list(file_dict)

for row in file_list:
    if row['Title'].strip() =='Software Development Engineer':
        software_count +=1
        
print("The Total Jobs Opening for Software Development Manager are: ", software_count)

The Total Jobs Opening for Software Development Manager are:  763

In [93]:
# find the month having most job opening in the year 2018

import csv

with open("amazon_jobs_dataset.csv", 'r', encoding='utf-8') as file_obj:
    file_dict = csv.DictReader(file_obj, skipinitialspace = True)
    file_list = list(file_dict)
most_frequent = {}

# date is given : March  1, 2018

for row in file_list:
    date = row['Posting_date'].strip()

    month_date, year = date.split(',')
    parts = month_date.split()
    month = parts[0]
    
    year = year.strip()
    
    if year=='2018':
        if month in most_frequent :
            most_frequent[month] +=1
        else:
            most_frequent[month]=1



print(most_frequent)
most_month =max(most_frequent, key=most_frequent.get)
print("The Most Job Openings in the month in the Year 2018 Is: ",most_month )
print("That is the Total Number is: ", most_frequent[most_month])

{'March': 13, 'February': 790, 'January': 907}
The Most Job Openings in the month in the Year 2018 Is:  January
That is the Total Number is:  907