In [2]:
a = 10 
a = 3
a = "Ibrahim"
print(a)
print(type(a))

Ibrahim
<class 'str'>

In [4]:
tup = (2,3,4,)
print(type(tup))

<class 'tuple'>

In [5]:
li = [2,3]
print(type(li))

<class 'list'>

In [6]:
diction = {1: "Ibrahim", 2: "Bagwan"}
print(type(diction))

<class 'dict'>

In [7]:
print(a)

Ibrahim

In [9]:
# complex numbers

a1 = 12
a2 = 12.22
a3 = 1+2j
print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [16]:
number = 10
print(number)
print(id(number))
number=number+1
print(id(number))
print(number)

10
140729976927432
140729976927464
11

In [22]:
# Arithmetic operators
a = 5
b = 2
print(a+b)
print(a-b)

7
3

In [23]:
a*b

10

In [24]:
a/b

2.5

In [25]:
a%b

1

In [26]:
b%a

2

In [28]:
a//b # this will give the the round value.

2

In [30]:
a**b # exponential

25

In [33]:
2 + 3 * 4 # 14 or 20

14

In [34]:
2 * 3 / 4

1.5

In [37]:
# farenhite to celcius
f = 100
c = (f-32) * 5/9
print(f)
print(c)

100
37.77777777777778

In [44]:
# assignment
marks1 = int(input("Enter the Marks of Subject 1: "))

marks2 = int(input("Enter the Marks of Subject 2: "))

marks3 = int(input("Enter the Marks of Subject 3: "))

print("The Average Marks is: ", (marks1+marks2+marks3) // 3)

Enter the Marks of Subject 1:  2
Enter the Marks of Subject 2:  3
Enter the Marks of Subject 3:  4

The Average Marks is:  3