## Tuple

In [1]:
tup = 3,4
print(tup)
print(type(tup))

(3, 4)
<class 'tuple'>

In [7]:
i,j = 3,4
print(i)
print(j)
print(type(i) , type(j))

3
4
<class 'int'> <class 'int'>

In [8]:
tup[0]

3

In [10]:
# tup[0]=7 # these are immutable we can't change them,
# you cannot add, delete, change the tuple

In [11]:
del(tup) # tuple deleted

In [18]:
# for loop works fine with this
a = 1,2,3,4
b=(5,6)
for i in a:
    print(i)
print(type(a))

1
2
3
4
<class 'tuple'>

In [19]:
1 in a

True

In [20]:
len(a)

4

In [21]:
# concatenation: yes
c = a + b
d = (a,b)

In [23]:
print(c)
print(d)

(1, 2, 3, 4, 5, 6)
((1, 2, 3, 4), (5, 6))

In [25]:
e = a * 4
e

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [27]:
print(min(a))
max(a)

1

4

In [29]:
z = (2,3,(4,5))
max(z) # we cannot compare an int to tuple

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [35]:
li = [1,2,3,4,5,6]
ab = tuple(li)
print(ab)

(1, 2, 3, 4, 5, 6)

In [36]:
# variable length input
def sum(a,b, *more):
    sum =0
    sum = sum + a + b
    for i in more:
        sum = sum + i
    return sum
val = sum(1,2,3,4,5)
print(val)

15

In [38]:
# variable length output

def sum_out(a,b):
    return a+b, a-b

val1 , val2 = sum_out(14,10)
print(val1)
print(val2)

24
4

In [40]:
# variable length output

def sum_many(a,b):
    return a+b, a-b, a*b, a/b

val1  = sum_many(14,10)
print(val1) # all of them gets stored in a tuple,if you want to store them separately,you need to give those many variables to take it like val1,val2.....

(24, 4, 140, 1.4)

## Dictionary

In [76]:
string_list = [
    "apple", "banana", "cherry", "apple",
    "date", "banana", "fig", "grape",
    "cherry", "apple", "fig"
] 
a = {}

for i in string_list:
    if i in a: 
        a[i] +=1
    else:
        a[i]=1
print(a)

{'apple': 60, 'banana': 40, 'cherry': 40, 'date': 20, 'fig': 40, 'grape': 20}

In [48]:
len(string_list)

11

In [65]:
b = a.copy()

In [66]:
c = dict([(1,"a"), (2,3), ('z',9)])
c

{1: 'a', 2: 3, 'z': 9}

In [67]:
d= dict.fromkeys([1,2,3], 0)
d # dictionary are mutable

{1: 0, 2: 0, 3: 0}

In [68]:
b.get('apple')

1

In [69]:
b['apple']

1

In [71]:
b['yellow']  # this gives error
b.get('yellow') # dosen't gives error

KeyError: 'yellow'

In [72]:
'banana' in b

True

In [73]:
'yellow' in b

False

In [77]:
print(a)
print(b)

{'apple': 60, 'banana': 40, 'cherry': 40, 'date': 20, 'fig': 40, 'grape': 20}
{'apple': 1, 'banana': 1, 'cherry': 1, 'date': 1, 'fig': 1, 'grape': 1}

In [78]:
b.update(a)
b

{'apple': 60, 'banana': 40, 'cherry': 40, 'date': 20, 'fig': 40, 'grape': 20}

In [79]:
b.pop('grape')

20

In [80]:
b

{'apple': 60, 'banana': 40, 'cherry': 40, 'date': 20, 'fig': 40}

In [81]:
del(b['apple'])

In [82]:
b

{'banana': 40, 'cherry': 40, 'date': 20, 'fig': 40}

In [83]:

del(b)

In [84]:
b

NameError: name 'b' is not defined

In [98]:
# print all words with frequency K

string_list = [
    "lion", "tiger", "elephant", "lion",
    "zebra", "tiger", "giraffe", "rhino",
    "elephant", "lion", "giraffe"
]

v = {}
k = int(input("Enter the Frequency: "))

for i in string_list:
    if i in v: 
        v[i] +=1
    else:
        v[i]=1
        
for i in v.keys():
    if(v[i]==k):
        print(i)


print(v)

Enter the Frequency:  1

zebra
rhino
{'lion': 3, 'tiger': 2, 'elephant': 2, 'zebra': 1, 'giraffe': 2, 'rhino': 1}

In [101]:
# print all words with frequency K
# same code in short

string_list = [
    "lion", "tiger", "elephant", "lion",
    "zebra", "tiger", "giraffe", "rhino",
    "elephant", "lion", "giraffe"
]

m = {}
k = int(input("Enter the Frequency: "))

for i in string_list:
     m[i] = m.get(i,0) +1
        
for i in m.keys():
    if(m[i]==k):
        print(i)


print(v)

Enter the Frequency:  3

lion
{'lion': 3, 'tiger': 2, 'elephant': 2, 'zebra': 1, 'giraffe': 2, 'rhino': 1}

## Sets

In [102]:
# the same as maths sets

### Elements are unique

In [108]:
# sets are like dictionary but they don't have values
st = {1,2,3,3,12,43,122}

print(type(st))

<class 'set'>

In [109]:
2 in st

True

In [110]:
for v in st: # there is no order
    print(v)

1
2
3
122
43
12

In [111]:
st.add("Ibrahim")

In [115]:
st.add((23,3))
st.add(12.32)

In [116]:
print(st)

{1, 2, 3, 12, 12.32, 43, (23, 3), 'Ibrahim', 122}

In [117]:
st2 = {1,2}
st2.update(st)
print(st2)

{1, 2, 3, 43, 12, 12.32, (23, 3), 'Ibrahim', 122}

In [118]:
st2.remove(3)

In [119]:
st2.remove(1000)

KeyError: 1000

In [120]:
st2.discard(1000)

In [122]:
st2.pop()

2

In [123]:
# other inbuilt functions on sets
# intersection, union, difference, symmetric_differenc, 
# a.issubset(b), a.issuperset(b), a.isdisjoint(b)

In [127]:
# sum of unique numbers in list

nums = [1,2,3,3,3,4,5,6,6,2,1]

ans = set(nums)
print(ans)
sumi=0
for i in ans:
    sumi += i
print(sumi)

{1, 2, 3, 4, 5, 6}
21

In [128]:
def count_pairs_with_diff_k(arr, k):
    freq = {}
    count = 0

    for num in arr:
        # Count pairs where num - k or num + k already exists
        count += freq.get(num - k, 0)
        count += freq.get(num + k, 0)

        # Update frequency of current number
        freq[num] = freq.get(num, 0) + 1

    return count

# Input
n = int(input())
arr = list(map(int, input().split()))
k = int(input())

# Output
print(count_pairs_with_diff_k(arr, k))

 3
 1 2 3
 1

2