## Tuple

In [1]:
tup = 3,4
print(tup)
print(type(tup))

(3, 4)
<class 'tuple'>

In [7]:
i,j = 3,4
print(i)
print(j)
print(type(i) , type(j))

3
4
<class 'int'> <class 'int'>

In [8]:
tup[0]

3

In [10]:
# tup[0]=7 # these are immutable we can't change them,
# you cannot add, delete, change the tuple

In [11]:
del(tup) # tuple deleted

In [18]:
# for loop works fine with this
a = 1,2,3,4
b=(5,6)
for i in a:
    print(i)
print(type(a))

1
2
3
4
<class 'tuple'>

In [19]:
1 in a

True

In [20]:
len(a)

4

In [21]:
# concatenation: yes
c = a + b
d = (a,b)

In [23]:
print(c)
print(d)

(1, 2, 3, 4, 5, 6)
((1, 2, 3, 4), (5, 6))

In [25]:
e = a * 4
e

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [27]:
print(min(a))
max(a)

1

4

In [29]:
z = (2,3,(4,5))
max(z) # we cannot compare an int to tuple

TypeError: '>' not supported between instances of 'tuple' and 'int'

In [35]:
li = [1,2,3,4,5,6]
ab = tuple(li)
print(ab)

(1, 2, 3, 4, 5, 6)

In [36]:
# variable length input
def sum(a,b, *more):
    sum =0
    sum = sum + a + b
    for i in more:
        sum = sum + i
    return sum
val = sum(1,2,3,4,5)
print(val)

15

In [38]:
# variable length output

def sum_out(a,b):
    return a+b, a-b

val1 , val2 = sum_out(14,10)
print(val1)
print(val2)

24
4

In [40]:
# variable length output

def sum_many(a,b):
    return a+b, a-b, a*b, a/b

val1  = sum_many(14,10)
print(val1) # all of them gets stored in a tuple,if you want to store them separately,you need to give those many variables to take it like val1,val2.....

(24, 4, 140, 1.4)

## Dictionary

In [76]:
string_list = [
    "apple", "banana", "cherry", "apple",
    "date", "banana", "fig", "grape",
    "cherry", "apple", "fig"
] 
a = {}

for i in string_list:
    if i in a: 
        a[i] +=1
    else:
        a[i]=1
print(a)

{'apple': 60, 'banana': 40, 'cherry': 40, 'date': 20, 'fig': 40, 'grape': 20}

In [48]:
len(string_list)

11

In [65]:
b = a.copy()

In [66]:
c = dict([(1,"a"), (2,3), ('z',9)])
c

{1: 'a', 2: 3, 'z': 9}

In [67]:
d= dict.fromkeys([1,2,3], 0)
d # dictionary are mutable

{1: 0, 2: 0, 3: 0}

In [68]:
b.get('apple')

1

In [69]:
b['apple']

1

In [71]:
b['yellow']  # this gives error
b.get('yellow') # dosen't gives error

KeyError: 'yellow'

In [72]:
'banana' in b

True

In [73]:
'yellow' in b

False